%h3 All Tasks
%table
  %tr
    %th 
      Task Name
    %th{:colspan =>3}
      Actions
    %th
  - @tasks.each do |task|
    %tr
      %td
        =h task.name
      %td
        =link_to 'Details', task
      %td
        =link_to 'Edit', edit_task_path(task)
      %td
        =link_to 'Delete', task, :confirm => "Are you sure you want to delete task: #{task.name} ", :method => :delete

%p
  =link_to "New Task", new_task_url

