%h3 Task Details

%p
  Name:
  =h @task.name
  %br
  Description:
  =h @task.description

= button_to 'Delete', @task, :confirm => "Are you sure you want to delete task: #{@task.name} ", :method => :delete

=link_to "Task List", tasks_url

