body { background-color: #4085FF; color: #333; }


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

h2 {
  font-size:3em;
  padding: 1em;
  text-align:center;
}

#menu .logged_in_as {
  text-align: right
}

#menu {
  background-color: #4883E2;
  color:white;
  font-weight:bold;
  height:2em;
  padding: 10px 0 0 0;
  border: 3px sold #93680E;
  border-top: 2px solid #0D4AB2;
  border-bottom: 5px solid #0D4AB2;
}

#menu a {
  color: white;
  font-weight: bold;
  text-decoration:none;

}

#menu a:hover {
  background-color:inherit;
  text-decoration: underline;
}

#headline {
  background-color: #FFBF38;

}

#footer_content {
  background-color: #FFBF38;
  padding: 2em 0;
  text-align: center;
  font-style: italic;
}

#content h2 {
  color: #93680E;
  font-size:2em;
  text-align: left;
  margin: 0;
  padding: 5px 0px;
}

#content label {
  padding-top:5px;
}

#content {
  background-color: #FFBF38;
}

#new_task {
  padding: 10px 0 0 20px;

}

.clear  {
  clear: both;
}

.clearfix {
  display:block;
}