!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %meta{'http-equiv' => 'Content-Script-Type', :content => 'text/javascript'}
    - if protect_against_forgery?
      %meta{:name => 'authenticity_token', :content => form_authenticity_token}
    %title
      Daily Tasks
    =stylesheet_link_tag 'application', :media => 'screen'
    =javascript_include_tag 'application'
  %body
    #header
      %h2 Daily Tasks
    #menu
      =link_to "Home", root_url
      - if logged_in?
        |
        =link_to "Tasks", tasks_url
        |
        =link_to "History", history_index_url
        |
        =link_to  'Logout', logout_url
        %br
        %br
        Logged in as:
        =current_user.username
      - else 
        |
        =link_to  'Login', login_url
    .flash
      %p{:style => "color: green"}
        =flash[:notice]
    .container
      =yield
 
