!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %meta{'http-equiv' => 'Content-Script-Type', :content => 'text/javascript'}
    - if protect_against_forgery?
      %meta{:name => 'authenticity_token', :content => form_authenticity_token}
    %title
      Daily Tasks
    
    = stylesheet_link_tag '960','text','reset', 'application', :media => 'screen'
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.custom.min'
    = javascript_include_tag 'jrails', 'application'
  %body
    #header
      .container_16.clearfix
        #headline
          %h2 Daily Tasks
        #menu
          .grid_9.alpha.prefix_1
            =link_to "Home", root_url
            - if user_signed_in?
              |
              =link_to "Tasks", tasks_url
              |
              =link_to "History", history_url
              |
              =link_to  'Logout', destroy_user_session_url
          .grid_5.omega.logged_in_as
            - if user_signed_in?
              Logged in as:&nbsp;
              =current_user.email
            - else 
              |
              =link_to  'Login', user_session_url
    #main
      .container_16.flash.clearfix
        %p{:style => "color: green"}
          =flash[:notice]
        %p{:style => "color: red"}
          = flash[:alert] 
      #content.container_16.clearfix
        =yield
    #footer
      #footer_content.container_16
        %p
          A DevChix Project for learning and collaboration &copy;DevChix 2010
